In [2]:
import pandas
from sklearn.cross_validation import train_test_split
import numpy as np
import time
from sklearn.externals import joblib
import khwahish2 as khwahish2

In [14]:
data =  pandas.read_csv('data.csv')

In [39]:
data.head()

,_id,users_name,article_id,interests,rating
0,f1002103409903859,pragyakaul,article-sasta-sunder-aur-tikau-these-are-the-b...,foodAndNightlife | events | shopping | travel ...,2.00
1,f1002103409903859,pragyakaul,article-chefs-signature-is-our-go-to-kebab-kio...,foodAndNightlife | events | shopping | travel ...,1.25
2,f1003129143080714,umeshyadav,artcile-shop-til-you-drop-delhis-winter-sales-...,foodAndNightlife | events | shopping | travel ...,0.75
3,f1003129143080714,umeshyadav,article- shop-til-you-drop-delhis-winter-sal...,foodAndNightlife | events | shopping | travel ...,0.00
4,f1003129143080714,umeshyadav,article-aw-snap!-no-camels-at-republic-day-par...,foodAndNightlife | events | shopping | travel ...,0.75

In [18]:
users = data['_id'].unique()

In [19]:
len(users)

3223

In [20]:
train_data, test_data = train_test_split(data, test_size = 0.20, random_state=0)

In [26]:
is_model = khwahish2.article_similarity_recommender()
is_model.create(train_data, 'user_id', 'article')

In [ ]:
#Print the articles for the user in training data
user_id = users[5]
user_items = is_model.find_user_articles(user_id)

for user_item in user_items:
    print(user_item)

#Recommend articles for the user using personalized model
is_model.recommend(user_id)

In [ ]:
is_model.find_similar_articles(['article-some-semblance-of-normalcy-returns-bus-service-to-delhi-has-resumed'])

In [ ]:
article = 'article-some-semblance-of-normalcy-returns-bus-service-to-delhi-has-resumed'
is_model.find_similar_articles([article])