In [172]:
import pandas
from sklearn.cross_validation import train_test_split
import numpy as np
import time
import numpy as np
from sklearn.externals import joblib
import recommender as recommender

In [164]:
data =  pandas.read_csv('data.csv')

In [165]:
data.head()

,_id,users_name,article_id,interests,rating
0,f1002103409903859,pragyakaul,article-sasta-sunder-aur-tikau-these-are-the-b...,foodAndNightlife | events | shopping | travel ...,2.00
1,f1002103409903859,pragyakaul,article-chefs-signature-is-our-go-to-kebab-kio...,foodAndNightlife | events | shopping | travel ...,1.25
2,f1003129143080714,umeshyadav,artcile-shop-til-you-drop-delhis-winter-sales-...,foodAndNightlife | events | shopping | travel ...,0.75
3,f1003129143080714,umeshyadav,article- shop-til-you-drop-delhis-winter-sal...,foodAndNightlife | events | shopping | travel ...,0.00
4,f1003129143080714,umeshyadav,article-aw-snap!-no-camels-at-republic-day-par...,foodAndNightlife | events | shopping | travel ...,0.75

In [166]:
users = data['_id'].unique()

In [167]:
len(users)

3223

In [168]:
train_data, test_data = train_test_split(data, test_size = 0.20, random_state=0)

In [169]:
# list(train_data._id)

In [173]:
is_model = recommender.article_similarity_recommender_py()
is_model.create(train_data,'_id','article_id')

In [174]:
#Print the articles for the user in training data
_id = users[10]
user_articles = is_model.get_user_articles(user_id)

for user_article in user_articles:
    print(user_article)

#Recommend articles for the user using personalized model
is_model.recommend(user)

article-quirk-up-your-humdrum-kitchenware-7-places-to-get-the-cutest-cutlery-in-town
article-sufism-aromatic-biryani-make-your-way-to-the-matka-pir-dargah
article-mickeys-kitchen-promises-to-satiate-your-late-night-cravings-with-divine-burgers-bacon-fries-more
article-serene-pools-in-the-middle-of-a-concrete-jungle-these-are-the-unexplored-lakes-of-delhi
article-shortcuts-to-heaven-5-places-to-pig-out-on-the-best-cake-jars-in-delhi
article-organizing-all-your-accessories-in-the-most-fashionable-way-pretty-please-me-is-back-at-citywalk
No. of unique articles for the user: 6
no. of unique articles in the training set: 5190
Non zero values in cooccurence_matrix :3064

,user_id,article,score,rank
0,f1009232629162649,article-sample-a-taste-of-the-rajasthani-way-o...,0.148810,1
1,f1009232629162649,article-proudly-displaying-angry-wrestlers-dec...,0.133796,2
2,f1009232629162649,article-ladies-save-up-we-bring-to-you-a-list-...,0.130556,3
3,f1009232629162649,article-you-need-to-drop-by-bamboo-shoots-to-s...,0.129167,4
4,f1009232629162649,article-laughter-is-the-best-med-book-your-spo...,0.127976,5
5,f1009232629162649,article-addicted-to-caffeine-fresh-brew-cos-ar...,0.123016,6
6,f1009232629162649,article-ladies-find-sexy-intimates-lingerie-at...,0.120085,7
7,f1009232629162649,article-prawns-fish-fillets-lobsters-these-are...,0.118326,8
8,f1009232629162649,article-grab-on-the-go-healthy-calorie-control...,0.117063,9
9,f1009232629162649,article-a-sushi-masterclass-tokya-inspired-coc...,0.115152,10

In [147]:
is_model.get_similar_articles(['article-some-semblance-of-normalcy-returns-bus-service-to-delhi-has-resumed'])

no. of unique articles in the training set: 5190
Non zero values in cooccurence_matrix :121

  user_id                                            article  score rank
0          article-get-lulled-into-a-happy-melodious-stup...    1.0    1
1          article-our-fav-picks-of-must-do-events-this-w...    1.0    2
2          article-gurgaon-just-saw-its-first-pride-parad...    1.0    3
3          article-jungle-jungle-pata-chala-hai-jungle-bo...    1.0    4
4          article-upper-crust-swanky-whisky-and-cigar-fe...    1.0    5
5          article-mini-afghanistan-a-mini-photo-essay-of...    1.0    6
6          article-catching-up-with-cornelia-funke-at-the...    1.0    7
7          artcile-for-all-those-nights-out-6-places-to-s...    1.0    8
8          article-the-newbie-joocy-in-gurgaon-is-offerin...    1.0    9
9          article-sophisticated-wine-boxes-hip-flasks-de...    1.0   10